<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">

  <Identity Name="$IDENTITY_NAME$"
            Publisher="$CERTNAME$"
            Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="5923f386-7a3d-4c7a-be5f-77be0c322048" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>$APPNAME$.WindowsPhone</DisplayName>
    <PublisherDisplayName>Thomas Anderson</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  
  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="$APPNAME$"
        Executable="$targetnametoken$.exe"
        EntryPoint="$APPNAME$_WindowsPhone.App">
        <m3:VisualElements
            DisplayName="$APPNAME$.WindowsPhone"
            Square150x150Logo="Assets\Logo.png"
            Square44x44Logo="Assets\Logo44x44.png"
            Description="$APPNAME$.WindowsPhone"
            ForegroundText="light"
            BackgroundColor="transparent">
            <m3:DefaultTile Wide310x150Logo="Assets\Logo310x150.png" Square71x71Logo="Assets\Logo71x71.png"/>
            <m3:SplashScreen Image="Assets\Logo480x800.png"/>
        </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>